adjusttext
annoy
bbknn
bs4
ctxcore
Cython
gensim
harmonypy
#igv_jupyterlab
ipykernel
ipympl
ipython
lda
leidenalg
loompy
loomxpy>=0.4.2
lxml
MACS2
matplotlib
nbsphinx
nbsphinx_link
networkx
numba
numpy
numpydoc
pandas==1.5
papermill
polars>=0.17.0
pybedtools
pyBigWig
pybiomart
pyfasta
pyopenssl
pyranges<0.0.128
pyscenic>=0.12.0
python-igraph
python-Levenshtein
ray[default]
scanorama
scanpy
scikit-learn
scipy
scrublet
seaborn
sphinx_rtd_theme
statsmodels
tables
tmtoolkit
tspex
typing
umap-learn
xlrd
papermill
#igv_jupyterlab
bs4
MACS2
lxml
tspex
polars
pyscenic@git+https://github.com/aertslab/pySCENIC@master
loomxpy@git+https://github.com/aertslab/LoomXpy@main
scatac_fragment_tools
sphinx_rtd_theme
nbsphinx
nbsphinx_link
numpydoc
pyrle
