adjusttext
annoy
bbknn
ctxcore
Cython
ipython
ipykernel
gensim
harmonypy
ipympl
leidenalg
lda
loompy
matplotlib
macs2
networkx
numba
numpy
pyopenssl
pandas>=1.2.0,!=1.3.0
pybedtools
pyfasta
pyranges
pybiomart
pyBigWig
python-Levenshtein
python-igraph
ray[default]
scipy
scikit-learn
scanpy
scanorama
scrublet
seaborn
statsmodels
tables
tmtoolkit
typing
umap-learn
xlrd
git+https://github.com/aertslab/pySCENIC@@master#egg=pyscenic
git+https://github.com/aertslab/LoomXpy@main#egg=loomxpy
sphinx_rtd_theme
nbsphinx
nbsphinx_link
numpydoc
